body {
    font-family: 'Chivo', sans-serif;
}

main{
    padding-top: 80px;
}

.top_menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    background-color: #3a3a3a;
}

.top_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top_menu li {
    float: left;
}

.top_menu li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 21px 23px;
    text-decoration: none;
}

.top_menu li a:hover{
    background-color: #b3b9b3;
}

.gallery_container{
    display: flex;
    height: 400px;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}


.gallery_picture{
    flex-grow: 1;
    order: 1;
    margin:auto;
    height: 300px;
    width: 400px;
    overflow: hidden;

}

.gallery_picture:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_gallery{
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    object-position: center center;
}
